# Imports

In [ ]:
# database libraries
import psycopg2
import pandas as pd
from config import config

# Database connection

In [31]:
# my first connection

params = config()

# Connect to your postgres DB
conn = psycopg2.connect(**params)

# Open a cursor to perform database operations
cur = conn.cursor()

# Execute a query
# you need to specify the schema name before the table: pa004 is the schema name.
query = """
        SELECT *
        FROM pa004.users
        """


#query = 'SELECT * FROM information_schema.tables' # list all tables from database
#query = "SELECT * FROM information_schema.tables WHERE table_schema='pa004'" # list all tables from 'pa004'
# tables of interest: users, vehicle, insurance

#cur.execute(query, conn)
data = pd.read_sql_query(query, conn)

# Retrieve query results
#records = cur.fetchall()

# Close connections
cur.close()
conn.close()

In [32]:
data.sample(5)

            id  gender  age  region_code  policy_sales_channel
265751  265752    Male   71         28.0                  26.0
70136    70137  Female   21         36.0                 163.0
70734    70735    Male   23         30.0                 152.0
9183      9184  Female   38         37.0                 152.0
192934  192935    Male   21         46.0                 156.0
188374  188375  Female   24         25.0                 152.0
74071    74072  Female   30         28.0                 154.0
358471  358472  Female   23         28.0                  26.0
313524  313525  Female   38         47.0                   1.0
97549    97550  Female   23         33.0                 152.0